{% extends "base_reload.html"%}
{%block style%}
#sidebar{
width:200px;
display:block;
border-right:1px solid gray;
float:left;
}
#sidebar_divider{
height:4px;
background-color:gray;
width:100%;
}
#users_bar ul{
overflow:auto;
}
#projects_bar ul{
overflow:auto;
}

#content{
float:left;
display:block;
position:relative;

}
#toolbar{
display:block;
background-color:grey;
}
#users_bar{
overflow-y: scroll;


}
#projects_bar{
overflow-y: scroll;


}
form{
font-size:12px;}
{%endblock%}

{%block scripts%}
<script>
head.ready(function(){

$('.labs_app').hide();
$('#loading').dialog({modal:true, title:'Loading...'});
});
head.js(
	"/static/js/jquery.min.js",  
	"/static/js/jquery-ui-1.8.13.custom.min.js", 
	"/static/js/jquery.ui.timepicker.js", 
	"/static/js/jquery.router.js",  
	"/static/js/fullcalendar.min.js",
	"/static/js/underscore.min.js",
	"/static/js/backbone.min.js",
	"/static/js/backbone.tastypie.js",
	"/static/js/backbone.relational.js",
	"/static/js/backbone.tastypie.modelgenerator.js",
    "/static/js/backbone.validations.js",
    "/static/js/backbone.forms.js",
	"/static/js/ich.min.js",
	"/static/js/reload.js"
	);

</script>
{%endblock%}

{%block user_data%}
<div class="username">{{username}}</div>
{%endblock%}

{%block logo%}
{%endblock%}

{%block content%}
<div id="reload" class="labs_app">

</div>
<div id="crm" class="labs_app">
CRM
</div>
<div id="loading">Loading!</div>
{%endblock%}
